
@media (min-width: 769px), print {
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
    background-color: #FF9000;
  }
  .panel.header {
    padding: 0px !important;
  }
}

.action.primary:hover, .action-primary:hover {
  background: #FF9000 !important;
  border: 1px solid #FF9000 !important;
  color: #ffffff;
}
.action.primary, .action-primary {
  background-image: none;
  background: #FF9000 !important;
  border: 1px solid #FF9000 !important;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 7px 15px;
  font-size: 1.4rem;
  box-sizing: border-box;
  vertical-align: middle;
}
body {
    font-family: 'Poppins', sans-serif;
}